<div class="row clearfix">

    <div class="col-md-4">
        <img class="img-fluid profileFace   " ng-src="assets/img/williamFace.png">
    </div>


    <div class="col-md-8">
        <h2>{{user.userName}}</h2>
        <p>{{user.bcAddress}}</p>
        <br/>

        <h4>Wallet Balance: {{user.wallet.balance}}</h4><br/>
        <p>Current Pending Tasks:</p>
        <ul ng-repeat="task in tasks">
            <li ng-show="task.status!=0 && task.status!=2" class="taskListTask">{{task._id}} - {{task.name}} - {{task.bounty}} fs
                <ul>
                    <li>
                        <span ng-show="task.status==1">
                            <button class="btn-success" ng-click="markComplete(task)">Mark work complete</button>
                            <button class="btn-danger">Abandon Task</button>
                            </span>
                        <span ng-show="task.status==4">
                        <button class="btn-success-outline">Pending Approval</button>
                        </span>
                            <button ng-show="task.status==2" class="btn-warning">Approve work complete </button>
                    </li>
                </ul>

            </li>
        </ul>
        <p>Completed tasks</p>
        <ul ng-repeat="task in tasks">
            
        <li ng-show="task.status==0" class="taskListTask">{{task._id}}</li>
        </ul>

    </div>

</div>
